$branco: #fff;
$light-text: #ffffffc7;
$azul-10: #014959;
$azul-20: #22414A;
$azul-30: #346370;
$azul-50: #3F7A8A;
$azul-70: #458596;
$azul-80: #63BDD6;
$azul-90: #1DCBF2;

$azul-complementar-01: #6B3000;
$azul-complementar-02: #B85D12;
$azul-complementar-03: #A65003;

$md-john: (
  50 : #e7edf0,
  100 : #c2d2d9,
  200 : #9ab5c0,
  300 : #7197a6,
  400 : #528093,
  500 : #346a80,
  600 : #2f6278,
  700 : #27576d,
  800 : #214d63,
  900 : #153c50,
  A100 : #8bd4ff,
  A200 : #58c1ff,
  A400 : #25aeff,
  A700 : #0ca5ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);


$white: (
  50 : #ffffff,
  100 : #fefeff,
  200 : #fdfeff,
  300 : #fcfdff,
  400 : #fcfcff,
  500 : #fbfcff,
  600 : #fafcff,
  700 : #fafbff,
  800 : #f9fbff,
  900 : #f8faff,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$azul-complentar: (
  50 : #f4eae1,
  100 : #e4cbb3,
  200 : #d3a881,
  300 : #c1854f,
  400 : #b36a29,
  500 : #a65003,
  600 : #9e4903,
  700 : #954002,
  800 : #8b3702,
  900 : #7b2701,
  A100 : #ffbca8,
  A200 : #ff9575,
  A400 : #ff6e42,
  A700 : #ff5a29,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
