.menu-lateral{
  z-index: 99999998;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  background-color: #fff;
  font-size: 1rem;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.43);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.43);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.43);
}

.menu-contra{
  z-index: 99999997;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.753);
}
